* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #56bae5;
}
.selectbox,
.playboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.selectbox {
  background-color: #ffffff;
  padding: 20px 25px 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 390px;
  width: 100%;
  display: none;
}
.selectbox header {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}
.title {
  font-size: 20px;
  margin: 20px 0px;
  font-weight: 500;
}
.option {
  display: flex;
  width: 100%;
}
.option button {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: #56bae5;
  color: #ffffff;
  padding: 10px 0px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.option button:hover {
  transform: scale(0.96);
}
.playerx {
  margin-right: 5px;
}
.playery {
  margin-right: 5px;
}
.detail {
  background-color: #ffffff;
  padding:7px;
  border-radius: 5px;
}
.players {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.players span{
  width:100%;
  color:#56bae5;
  border-radius: 7px;
  padding:7px 0px;
  font-size:24px;
  font-weight:500;
  cursor:default;
  text-align: center;
}
.players span.active{
  color:#ffffff;
 background-color: #56bae5;
}
.playarea {
  margin-top: 20px;
}
.playboard section {
  display: flex;
}
.playboard section span {
  display: block;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  margin: 3px;
  border-radius: 7px;
  font-size: 110px;
  text-align: center;
  line-height: 150px;
  color:#56bae5;
}
