* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #56bae5;
}
.selectbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px 25px 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width:330px;
  width:100%;
}
.selectbox header{
    font-size:28px;
    font-weight:600;
    padding-bottom:10px;
    border-bottom:2px solid #ccc;
}
