* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #56bae5;
}
.selectbox,
.playboard,
.resultbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.selectbox {
  background-color: #ffffff;
  padding: 20px 25px 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 390px;
  width: 100%;
  transition: all 0.3s ease;
}
.selectbox.hide {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.selectbox header {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}
.title {
  font-size: 20px;
  margin: 20px 0px;
  font-weight: 500;
}
.option {
  display: flex;
  width: 100%;
}
.option button {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: #56bae5;
  color: #ffffff;
  padding: 10px 0px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.option button:hover,
.btn button:hover {
  transform: scale(0.96);
}
.playerx {
  margin-right: 5px;
}
.playery {
  margin-right: 5px;
}
.playboard {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.playboard.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.detail {
  background-color: #ffffff;
  padding: 7px;
  border-radius: 5px;
}
.players {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.players span {
  width: 100%;
  color: #56bae5;
  border-radius: 7px;
  padding: 7px 0px;
  font-size: 24px;
  font-weight: 500;
  cursor: default;
  text-align: center;
  position: relative;
  z-index: 5;
  transition:all 0.3s ease;
}
.players span:first-child {
  color: #ffffff;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #56bae5;
  border-radius: 5px;
  z-index: 2;
  transition:all 0.3s ease;

}
.players.active span:first-child{
color:#56bae5;
}
.players.active span:nth-child(2){
color:#fff;
}
.players.active .slider{
left:50%;
}
.playarea {
  margin-top: 20px;
}
.playboard section {
  display: flex;
}
.playboard section span {
  display: block;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  margin: 3px;
  border-radius: 7px;
  font-size: 110px;
  text-align: center;
  line-height: 150px;
  color: #56bae5;
}
.resultbox {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 350px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform:translate(-50%,-50%) scale(0.9);
}
.resultbox.show{
  opacity:1;
  pointer-events: auto;
  transform: translate(-50%,-50%) scale(1);
}
.wintext {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.wintext p {
  font-weight: 700;
  margin: 0 5px;
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn button {
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: #56bae5;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
